<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Dashboard
    </p>
    <div class="container">
        <div class="row span10">
          <div class="span4 pull-left">
            <br>
            <br><br><br>
            <select id="param" class="selectpicker">
              <option value="rpm">RPM</option>
              <option value="vss">VSS</option>
              <option value="load_pct">Load</option>
              <option value="temp">Temp</option>
            </select>
            <br>
            <br>
            <div id="stats">
              <table class="table table-bordered table-hover">
                <thead>
                  <th>Lower Bound</th>
                  <th>Current Value</th>
                  <th>Upper Bound</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      600
                    </td>
                    <td id="cv">

                    </td>
                    <td>
                      2200
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="notice">
                <p>

                </p>
              </div>
            </div>
          </div>
          <div class="span4">
              <div id="graph" class="pull-left"></div>
          </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src=//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js></script>
    <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.js"></script>
	<script type="text/javascript" src="dist/all.min.js"></script>

  </body>
</html>
